.venv/
.env
__pycache__/
.modal/
*.py[cod]
*.so
*.egg-info/
.eggs/
.build/
dist/
build/
.env.*
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.vscode/
.idea/
logs/
*.log
training_runs/
wandb/
outputs/
*.safetensors
*.pt
*.bin
*.ckpt
/Wan_2.2_ComfyUI_Repackaged/
/models/
.cache/
**/cache/**
**/cache_*/**
.DS_Store